{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Application Form</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
  			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  			<![endif]-->

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="codedthemes">
    <meta name="keywords"
        content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="codedthemes">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

    <!--ico Fonts-->
    <link rel="stylesheet" type="text/css" href="{% static 'icon/icofont/css/icofont.css' %}">

    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Responsive.css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
</head>

<body>
    <section class="login" style="background-image: url('{% static "images/background/form-bg.png" %}');">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="login-card card-block">
                        <form class="md-float-material" action="{% url 'form' %}" method="post">
                            {% csrf_token %}
                            <div class="text-center" style="color:#f57c00; font-size:170%;">
                                <img src="{% static 'images/favicon.png' %}" alt="logo"> Application Form
                            </div>
                            <br>
                            <div class="md-input">
                                <label for="choice">Your Choice</label>
                                <input type="text" class="md-form-control" id="choice" name="choice" value="{{choice}}" readonly>
                            </div>
                            <div class="md-input-wrapper">
                                <input type="text" class="md-form-control" id="name" name="name" required>
                                <label for="name">Full Name</label>
                            </div>
                            <div class="md-input-wrapper">
                                <input type="email" class="md-form-control" id="email" name="email" required>
                                <label for="email">Email Address</label>
                            </div>
                            <div class="md-input-wrapper">
                                <input type="number" class="md-form-control" id="number" name="number" style="letter-spacing: 0.1cm;" required>
                                <label for="number">Contact No.</label>
                            </div>
                            <div class="md-input-wrapper">
                                <input type="text" class="md-form-control" id="university" name="university" required>
                                <label for="university">Graduation University</label>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="md-input-wrapper">
                                        <input type="number" step="0.01" min="0" max="10" class="md-form-control" id="cgpa" name="cgpa" required>
                                        <label for="cgpa">Final CGPA</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-input-wrapper">
                                        <input type="number" step="0.01" min="0" max="10" class="md-form-control" id="ielts" name="ielts" required>
                                        <label for="ielts">IELTS Score</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="col-xs-10 offset-xs-1">
                                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light m-b-20">
                                        Submit
                                    </button>
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- end of login-card -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row-->
        </div>
        <!-- end of container-fluid -->
    </section>


    <!-- Required Jqurey -->
    <script src="{% static '/plugins/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static '/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static '/plugins/tether/dist/js/tether.min.js' %}"></script>

    <!-- Required Fremwork -->
    <script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!--text js-->
    <script type="text/javascript" src="{% static '/pages/elements.js' %}"></script>
</body>

</html>