{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Register</title>
	<!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
  			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  			<![endif]-->

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="codedthemes">
	<meta name="keywords"
		content=", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
	<meta name="author" content="codedthemes">

	<link rel="stylesheet" href="{% static 'css/design.css' %}">

	<!-- Favicon icon -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

	<!-- Google font-->
	<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

	<!--ico Fonts-->
	<link rel="stylesheet" type="text/css" href="{% static 'icon/icofont/css/icofont.css' %}">

	<!-- Required Fremwork -->
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">

	<!-- Style.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

	<!-- Responsive.css-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
</head>

<body>
	<section class="login common-img-bg">

		{% for msg in message %}
		<div class="container alert alert-danger design rounded-0" role="alert">
			{{ msg }}
		</div>
		{% endfor %}

		<!-- Container-fluid starts -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="login-card card-block" id="register">
						<form class="md-float-material" action="{% url 'register' %}" method="post">
							{% csrf_token %}
							<div class="text-center" style="color:#f57c00; font-size:170%;">
								<img src="{% static 'images/favicon.png' %}" alt="logo"> Register
							</div>
							<h4 class="text-center txt-primary"><br>Create an account</h4>
							<br>
							<div class="row">
								<div class="col-md-6">
									<div class="md-input-wrapper">
										<input type="text" class="md-form-control" autocomplete="off" id="fname"
											name="fname" required>
										<label>First Name*</label>
									</div>
								</div>
								<div class="col-md-6">
									<div class="md-input-wrapper">
										<input type="text" class="md-form-control" autocomplete="off" id="lname"
											name="lname" required>
										<label>Last Name*</label>
									</div>
								</div>
							</div>
							<div class="md-input-wrapper">
								<input type="text" class="md-form-control" autocomplete="off" id="username"
									name="username" required>
								<label>Username*</label>
							</div>
							<div class="md-input-wrapper">
								<input type="email" class="md-form-control" autocomplete="off" id="email" name="email"
									required>
								<label>Email Address*</label>
							</div>
							<div class="md-input-wrapper">
								<input type="password" class="md-form-control" autocomplete="off" id="password1"
									name="password1" required>
								<label>Set Password*</label>
							</div>
							<div class="md-input-wrapper">
								<input type="password" class="md-form-control" autocomplete="off" id="password2"
									name="password2" required>
								<label>Confirm Password*</label>
							</div>
							<br>
							{% comment %} <div class="col-xs-10 offset-xs-1">
								<a href="login" class="f-w-600 p-l-5" style="font-size: 100%; color: aliceblue;">
									<button type="submit" id="ver"
										class="btn btn-primary btn-md btn-block waves-effect waves-light m-b-20">
										Register
									</button>
								</a>
							</div> {% endcomment %}


							<div class="col-xs-10 offset-xs-1">
								<a href="verify-otp" class="f-w-600 p-l-5" style="font-size: 100%; color: aliceblue;">
									<button type="submit"
										class="btn btn-primary btn-md btn-block waves-effect waves-light m-b-20">
										Verfy OTP
									</button>
								</a>
							</div>

							{% if messages %}
							{% for message in messages %}
							<div style="color:red;text-align:center;font-size : 10px" {% if message.tags %}
								class="{{ message.tags}}" {% endif %}>
								<p style="font-size:18px;"> (-_-) {{ message }} (-_-)</p>
							</div>
							{% endfor %}
							{% endif %}

							<div class="row">
								<div class="col-xs-12 text-center">
									<span style="color: #39444e;">Already have an account?</span>
									<a href="login" class="f-w-600 p-l-5" style="font-size: 100%;">Log In Here</a>
								</div>
							</div>
						</form>
						<!-- end of form -->
					</div>
					<!-- end of login-card -->
				</div>
				<!-- end of col-sm-12 -->
			</div>
			<!-- end of row-->
		</div>
		<!-- end of container-fluid -->
	</section>


	<!-- Required Jqurey -->
	<script src="{% static '/plugins/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static '/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/plugins/tether/dist/js/tether.min.js' %}"></script>

	<!-- Required Fremwork -->
	<script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

	<!--text js-->
	<script type="text/javascript" src="{% static '/pages/elements.js' %}"></script>
</body>

</html>